.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.arrow__button__container {
  position: absolute;
}

.arrow__button__container.right {
  right: 8px;
}

.arrow__button__container.left {
  left: 8px;
}

.media__container {
  justify-content: center;
  display: flex;
  padding: 0 56px;
  width: 100vw;
}

@media (max-width: 414px) {
  .media__container {
    padding: 0;
  }
}

@media only screen and (max-device-width : 640px) and (orientation : landscape) {
  .media__container {
    padding-bottom: 32px;
  }
}