.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-modal);
}

.arrow__button__container {
  position: absolute;
  z-index: var(--z-index-arrow-buttons);
}

.arrow__button__container.right {
  right: 8px;
}

.arrow__button__container.left {
  left: 8px;
}

.media__container {
  justify-content: center;
  display: flex;
  width: 100vw;
}