.gallery__modal {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

.gallery__modal > .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.gallery__modal > .container > * {
  margin-bottom: 40px;
  padding-top: 40px;
}

.gallery__modal > .container > .figure:first-of-type {
  padding-top: 0;
}

.close__button {
  position: fixed;
  right: 8px;
  top: 8px;
}