.my-media-viewer__media-viewer {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

.my-media-viewer__media-viewer > .my-media-viewer__media__container {
  margin: 0 96px;
}

.my-media-viewer__close__button {
  position: fixed;
  right: 8px;
  top: 8px;
}