.arrow__button {
  cursor: pointer;
  outline: none;
}

.arrow__button svg {
  color: white;
  height: 40px !important;
  width: 40px !important;
}

.arrow__button:hover svg {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
}
