.arrow-button {
  cursor: pointer;
  outline: none;
  position: absolute;
  transition: filter 0.5s;
}

.arrow-button.left {
  left: 0;
}

.arrow-button.right {
  right: 0;
}

.arrow-button svg {
  color: white;
  height: 48px !important;
  width: 48px !important;
}

.arrow-button:hover svg {
  filter: brightness(0.8);
}
