:local(.wrapper) {
  outline: none;
  position: absolute;
  top: 50vh;
}

:local(.left) {
  left: 0;
}

:local(.right) {
  right: 0;
}

:local(.wrapper) svg {
  color: white;
  height: 56px !important;
  width: 56px !important;
}