.close-button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  outline: none;
  transition: filter 0.5s;
}

.close-button:hover svg {
  filter: brightness(0.8);
}

.close-button svg {
  color: white;
  height: 36px !important;
  width: 36px !important;
}