:local(.wrapper) {
  display: flex;
  justify-content: flex-end;
}

:local(.wrapper) > button {
  outline: none;
  transition: filter 0.5s;
}

:local(.wrapper) > button:hover svg {
  filter: brightness(0.8);
}

:local(.wrapper) svg {
  color: white;
  height: 36px !important;
  width: 36px !important;
}