.close svg {
  color: white;
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
  height: 36px !important;
  outline: none;
  width: 36px !important;
}

.close:hover svg {
  color: gray;
}
