.footer__wrapper {
  color: white;
  flex: none;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__counter {
  font-size: var(--font-size-small-1);
  margin-left: 16px;
  white-space: nowrap;
}

@media (max-width: 414px) {
  .footer__caption {
    font-size: var(--font-size-small-1);
  }
}