.footer {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-top: 32px; /* pro gradiente ficar mais smooth */
  position: absolute;
  right: 0;
}
.footer__caption {
  display: block;
}

.footer__counter {
  font-size: var(--font-size-small-1);
  margin-left: 16px;
  white-space: nowrap;
}

@media (max-width: 414px) {
  .footer__caption {
    font-size: var(--font-size-small-1);
  }
}