.arrow__button__container {
  position: absolute;
  z-index: var(--z-index-arrow-buttons);
}

.arrow__button__container.right {
  right: 8px;
}

.arrow__button__container.left {
  left: 8px;
}

.media__container {
  justify-content: center;
  display: flex;
  width: 100vw;
}

.close__button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  outline: none;
}

.media__counter {
  color: white;
  font-size: var(--font-size-small-1);
  left: 8px;
  position: absolute;
  top: 8px;
}