.image__container {
  display: flex;
  flex-direction: column;
  margin: 0 56px;
  width: 100%;
}

.image__container > img {
  align-self: center;
  max-height: 90vh;
  max-width: 100%;
}

.video__container {
  width: 80%;
}

.video__container > .aspect__ratio__container {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio; 75%=4:3; 66.66%=3:2; 62.5%=8:5; 100%=1:1  */
  position: relative;
  width: 100%;
}

.video__container > .aspect__ratio__container .aspect__ratio__element {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 414px) {
  .image__container {
    margin: 0;
  }

  .video__container {
    width: 100%;
  }
}