.figure {
  margin-bottom: 32px;
  text-align: center;
}

.aspect__ratio__container {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio; 75%=4:3; 66.66%=3:2; 62.5%=8:5; 100%=1:1  */
  position: relative;
  width: 100%;
}

.aspect__ratio__container .aspect__ratio__element {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image {
  max-height: 90vh;
  max-width: 100%;
}

.caption {
  color: #999;
  font-size: var(--font-size-big-3);
  margin-top: 16px;
  max-height: 100vh;
}