.caption {
  align-items: center; /* pra no mobile ficar alinhado verticalmente*/
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 64px 0 32px 0;
  position: absolute;
  width: 100%;
}

.caption > * {
  margin: 0 32px;
}

.caption > figcaption {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.caption > .counter {
  white-space: nowrap;
}
